# Node
node_modules/
dist/
dist-electron/
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
pip-log.txt
pip-delete-this-directory.txt

# DevLights Config
host/config.json
host/config.json.tmp

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# System
*.log

# PlatformIO
.pio/
.vscode/

# Ignore massive PlatformIO virtual environment
pio_env/
